<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/horas.css">
    <title>Horas Hábiles</title>
</head>
<body>
    <section class="main">
        <div class="header">
            <h1>Horas hábiles</h1>
        </div>
        <div class="sub">
            <p>Los datos que se muestran, representan las mejores horas para un seguimiento </p>
            <img src="/img/graph2.png">
        </div>
    </section>
</body>
</html>
