<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/favicon2-32x32.png">
    <title>B.I. | CIHUMANA </title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <section class="main">
        <div class="header">
            <h1>Menu gráficas</h1>
        </div>
        <div class="logo">
            <div class="logito">
                <img src="/img/logo.png" alt="">
            </div>
        </div>
        <section class="menu">
            <section class="botones">
                <button><a href="naive">Naive Bayes</a></button>
                <button><a href="horas">Horas Habiles</a></button>
                <button><a href="probabilidad">Probabilidad de momentos</a></button>
                
                <button id="salir" onclick="logout()">Salir</button>
            </section>
        </section>
    </section>
</body>
        <script src="/js/sha1.js"></script>
    <script src="/js/validar2.js"></script>
</html>