<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./img/favicon2-32x32.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/naive.css">
    <title>Naive Bayes</title>
</head>
<body>
    <section class="main">
        <div class="header">
            <h1>Naive bayes</h1>
        </div>
        <div class="sub">
            <p>Los datos que se muestran, representan la probabilidad que se manifiesta un estatus</p>
            <img src="/img/graph3.png">
        </div>
    </section>
   
</body>
</html>
